.button {
    background: #1c88bf;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
    padding: 0.5rem;
    text-decoration: none;
    margin-top: 1.5rem;
}

.photo {
    height:  500px;;
}

.skills {
    h5 {
        margin: 20px 0;
    }
}